/* Superadmin Dashboard Styles */

.header {
  @apply flex items-center justify-between w-full mb-6 px-40;
}

.headerTitle {
  @apply text-lg font-bold text-white;
}

.sidebar {
  @apply flex flex-col gap-3;
}

.sidebarItem {
  @apply text-white text-sm cursor-pointer px-3 py-2 rounded-lg transition-all duration-200 text-right;
}

.sidebarItem:hover {
  @apply bg-[#1E2A38];
}

/* .sidebarItemActive {
  @apply bg-[#2563EB] text-white;
} */

/* Chips Horizontal */
.chipContainer {
  @apply flex flex-wrap gap-2 px-40;
}

.chipInactive {
  @apply bg-[#1E2A38] text-[#7997B5];
}

.chipActive {
  @apply bg-[#49627B80] text-white;
}

.componentContainer {
  @apply p-4 rounded-xl px-40;
}

@media (min-width: 744px) {
  .header {
          padding: 34px 24px;
        }
                .chipContainer {
                  padding: 34px 24px;
                }
                                .componentContainer {
                                  padding: 34px 24px;
                                }
      };
                @media (min-width: 402px) {
                  .header {
                    padding: 24px 16px;
                  }
        
                  .chipContainer {
                    padding: 24px 16px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    overflow-x: auto;
                    overflow-y: hidden;
                    scrollbar-width: none;
                    gap: 12px;
                  }
        
                  .componentContainer {
                    padding: 24px 16px;
                  }
                }