.container {
    position: relative;

    width: fit-content;
    max-width: 340px;

    display: flex;
    flex-direction: column;

    padding: 8px 16px;

    border-radius: 52px;

    overflow: hidden;

    box-shadow: 0 12px 32px rgba(0, 0, 0, .12);

    background: #ffffff;

    animation: toast_life 3s linear forwards;
}

/*======================================
Pause
======================================*/

.pauseOnHover:hover,
.pauseOnHover:hover::before {
    animation-play-state: paused;
}

/*======================================
Background Progress
======================================*/

.container::before {
    content: "";

    position: absolute;

    inset: 0;

    background: var(--toast-bg);

    transform-origin: left;

    animation: toast_progress 3s linear forwards;

    z-index: 0;
}

/*======================================
Variants
======================================*/

.container_success {
    --toast-bg: #B7FFC9;
    color: #34C759;
}

.container_warning {
    --toast-bg: #FFF0B3;
    color: #FFCC00;
}

.container_error {
    --toast-bg: #FFC5C7;
    color: #FF383C;
}

.container_info {
    --toast-bg: #C5E4FF;
    color: #0088FF;
}

/*======================================
Animations
======================================*/

@keyframes toast_progress {

    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }
}

@keyframes toast_life {

    /* خارج از صفحه */
    0% {
        transform: translateX(calc(-100% - 24px)) scale(.9);
        opacity: 0;
    }

    /* ورود */
    8% {
        transform: translateX(10%) scale(1.02);
        opacity: 1;
    }

    /* Bounce */
    12% {
        transform: translateX(-3%) scale(1);
    }

    /* حالت نهایی */
    16% {
        transform: translateX(0);
        opacity: 1;
    }

    /* ماندن */
    84% {
        transform: translateX(0);
        opacity: 1;
    }

    /* خروج */
    100% {
        transform: translateX(calc(-100% - 24px));
        opacity: 0;
    }
}

/*======================================
Content
======================================*/

.content {
    position: relative;

    z-index: 1;

    display: flex;

    align-items: center;

    gap: 0;

    flex: 1;
}

.icon {
    width: 16px;
    height: 20px;
}

.message {
    margin-left: 0.5rem;
    font-size: 14px;
}