.overlay {
  @apply fixed inset-0 flex items-center justify-center z-[1000];
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.container {
  @apply w-fit max-w-[95vw] max-h-[95vh] overflow-auto rounded-3xl py-28 px-[2.375rem];
  background: #49627B;
}

.title {
  @apply font-semibold text-white text-center;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
}

.body {
  @apply px-5 pt-9;
}
